<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation">
    <test name="Smoke Test">
        <parameter name="userId" value="ab"/>
        <classes>
            <class name="test.testng.practice.annotations.DependacyAnnoations" />
        </classes>
    </test>
</suite>